<img class="bg"src="https://w0.peakpx.com/wallpaper/291/734/HD-wallpaper-speed-flow-abstract-art-glare-line-vector.jpg" style="width:100%;">

    <div class="centered">

        <h1>MYSELF MINNU A M</h1>
        <h4>A detail oriented, hardworking post graduate with fundemantal knowedge of software design , development.  Currently looking for opportunities in softeware dvelopment that can benefit from my technical skills and abilities </h4>
        <br><h3>Here is my sample portfolio in Angular<br>
        Hire me if you like it.....!</h3>
        <br><br>
        <input type="button" class="app-button" value="Hire me">
   </div>



   <footer class="bg-dark">
    <section id="footer" class="py-5">
      <div class="container text-center">
        <a href="#" class="twitter"></a>
        <a href="#" class="linkedin"></a>
        <a href="#" class="facebook"></a>
        <a href="#" class="skype"></a>
        <!-- <h6 class="m-0 mt-4 text-center text-white text-capitalize">Copyright &copy; 2022 designed by Aysha</h6> -->
      </div>
    </section>
  </footer>
